{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>i18n</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
	    <input name="next" type="hidden" value="{{ redirect_to }}">
	    <select name="language">
	        {% get_current_language as LANGUAGE_CODE %}
	        {% get_available_languages as LANGUAGES %}
	        {% get_language_info_list for LANGUAGES as languages %}
	        {% for language in languages %}
	            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
	                {{ language.name_local }} ({{ language.code }})
	            </option>
	        {% endfor %}
	    </select>
	    <input type="submit" value="Go">
	</form><br>
	<h1>{{ text }}</h1>

	{% for new in news %}
		{{ new.name }}
	{% endfor %}
</body>
</html>